.footer {
  background-color: #0a2850;
  color: white;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -120px;
  left: -44px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  border-color: red solid 3px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__social-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 100px;
}
