.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 30px;
}
.form__input {
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  border: black 0.5px solid;
  padding-left: 20px;
  font-size: 17.5px;
  line-height: 30px;
}

.form__button-submit {
  margin-bottom: 32px;
  height: 60px;
  width: 385px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  border: black 0.5px solid;
  transition: opacity 0.3s ease;
  opacity: 1;
  font-size: 16px;
}

.form__button-submit:hover {
  opacity: 0.7;
}

.form__terms {
  display: flex;
  justify-content: center;
}
.form__checkbox {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  appearance: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}
.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}
