.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
  top: 0;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

h1,
p {
  margin: 0;
}
