.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  color: #ffffff;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  font-size: 44px;
  font-weight: 450;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 438px;
  padding-top: 24px;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__description {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  font-size: 20px;
  line-height: 30px;
}
