.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  max-width: 385px;
  text-align: center;
  margin: 0px auto 80px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 385px;
  margin: 100px 0 120px;
}
