.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
  top: 0;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

h1,
p {
  margin: 0;
}

.header__title {
  margin-top: 183px;
  max-width: 709px;
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -1px;
}
.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  object-fit: cover;
  background-color: #ffffff;
  position: absolute;
  right: 5px;
  top: 94px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__paragraph {
  margin: 0;
  color: #838383;
}

/*Fin del header*/
/*Inicio de seccion recetas*/

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  color: #ffffff;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  font-size: 44px;
  font-weight: 450;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 438px;
  padding-top: 24px;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__description {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  font-size: 20px;
  line-height: 30px;
}

/*reservation section*/
.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservation__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  max-width: 385px;
  text-align: center;
  margin: auto auto 80px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 385px;
  margin: 100px 0 80px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 30px;
}
.form__input {
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  border: black 0.5px solid;
  padding-left: 20px;
  font-size: 17.5px;
  line-height: 30px;
}

.form__button-submit {
  margin-bottom: 32px;
  height: 60px;
  width: 385px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
  border: black 0.5px solid;
  transition: opacity 0.3s ease;
  opacity: 0.7;
  font-size: 16px;
}

.form__button-submit:hover {
  opacity: 1;
}

.form__terms {
  display: flex;
  justify-content: center;
}
.form__checkbox {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  appearance: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}
.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}
